function Board.new 2
push constant 5
call Memory.alloc 1
pop pointer 0
call Prng.new 0
pop this 0
push constant 8
pop this 3
push constant 30
pop this 4
push constant 0
pop this 2
push constant 64
call Array.new 1
pop this 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 64
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function Board.scoreBoard 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 2
label WHILE_EXP0
push local 0
push this 3
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 3
lt
not
if-goto WHILE_END1
push local 1
push this 3
lt
push constant 4
sub
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 1
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 2
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 3
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 4
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 2
push constant 5
add
pop local 2
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 1
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 2
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 3
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 4
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 1
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 2
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 3
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 4
add
call Board.drawShapeAt 2
pop temp 0
label IF_FALSE4
label IF_FALSE3
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push this 3
lt
push constant 4
sub
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 8
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 16
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 24
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 32
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 2
push constant 5
add
pop local 2
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 8
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 16
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 24
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 32
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 8
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 16
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 24
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 32
add
call Board.drawShapeAt 2
pop temp 0
label IF_FALSE9
label IF_FALSE8
label IF_FALSE7
label IF_FALSE6
label IF_FALSE5
push local 1
push this 3
lt
push constant 3
sub
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 1
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 2
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 3
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push local 2
push constant 3
add
pop local 2
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 1
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 2
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 3
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 1
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 2
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 3
add
call Board.drawShapeAt 2
pop temp 0
label IF_FALSE13
label IF_FALSE12
label IF_FALSE11
label IF_FALSE10
push local 0
push this 3
lt
push constant 3
sub
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 8
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 16
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 24
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push local 2
push constant 3
add
pop local 2
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 8
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 16
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 24
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 8
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 16
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 24
add
call Board.drawShapeAt 2
pop temp 0
label IF_FALSE17
label IF_FALSE16
label IF_FALSE15
label IF_FALSE14
push local 1
push this 3
lt
push constant 2
sub
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 1
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 2
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push local 2
push constant 1
add
pop local 2
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 1
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 2
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 1
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 2
add
call Board.drawShapeAt 2
pop temp 0
label IF_FALSE20
label IF_FALSE19
label IF_FALSE18
push local 0
push this 3
lt
push constant 2
sub
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 8
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
pop pointer 1
push that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 16
add
push this 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push local 2
push constant 1
add
pop local 2
push local 0
push this 3
call Math.multiply 2
push local 1
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 8
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 16
add
push this 1
add
push this 0
call Prng.next 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 8
add
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push local 0
push this 3
call Math.multiply 2
push local 1
add
push constant 16
add
call Board.drawShapeAt 2
pop temp 0
label IF_FALSE23
label IF_FALSE22
label IF_FALSE21
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 2
return
function Board.drawShapeAt 2
push argument 0
pop pointer 0
push argument 1
push constant 8
call Math.divide 2
push constant 30
call Math.multiply 2
pop local 1
push argument 1
push constant 8
push argument 1
push constant 8
call Math.divide 2
call Math.multiply 2
sub
push constant 30
call Math.multiply 2
pop local 0
push argument 1
push this 1
add
pop pointer 1
push that 0
push constant 48
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 0
push local 1
push constant 30
call Board.drawSquare 4
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 1
push this 1
add
pop pointer 1
push that 0
push constant 49
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 0
push local 1
push constant 30
call Board.drawDot 4
pop temp 0
goto IF_END1
label IF_FALSE1
push argument 1
push this 1
add
pop pointer 1
push that 0
push constant 50
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push local 0
push local 1
push constant 30
call Board.drawPlus 4
pop temp 0
goto IF_END2
label IF_FALSE2
push pointer 0
push local 0
push local 1
push constant 30
call Board.drawClover 4
pop temp 0
label IF_END2
label IF_END1
label IF_END0
push constant 0
return
function Board.drawBoard 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 8
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push constant 8
lt
not
if-goto WHILE_END1
push local 0
push constant 30
call Math.multiply 2
pop local 2
push local 1
push constant 30
call Math.multiply 2
pop local 3
push local 4
push this 1
add
pop pointer 1
push that 0
push constant 48
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 2
push local 3
push constant 30
call Board.drawSquare 4
pop temp 0
goto IF_END0
label IF_FALSE0
push local 4
push this 1
add
pop pointer 1
push that 0
push constant 49
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 2
push local 3
push constant 30
call Board.drawDot 4
pop temp 0
goto IF_END1
label IF_FALSE1
push local 4
push this 1
add
pop pointer 1
push that 0
push constant 50
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push local 2
push local 3
push constant 30
call Board.drawPlus 4
pop temp 0
goto IF_END2
label IF_FALSE2
push pointer 0
push local 2
push local 3
push constant 30
call Board.drawClover 4
pop temp 0
label IF_END2
label IF_END1
label IF_END0
push local 4
push constant 1
add
pop local 4
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.swap 1
push argument 0
pop pointer 0
push argument 1
push this 1
add
pop pointer 1
push that 0
pop local 0
push argument 1
push this 1
add
push argument 2
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 2
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push argument 1
call Board.drawShapeAt 2
pop temp 0
push pointer 0
push argument 2
call Board.drawShapeAt 2
pop temp 0
push constant 0
return
function Board.dispose 0
push argument 0
pop pointer 0
push this 1
call Array.dispose 1
pop temp 0
push this 0
call Prng.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.drawSquare 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 5
add
push argument 2
push constant 5
add
push argument 1
push argument 3
add
push constant 5
sub
push argument 2
push argument 3
add
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 5
add
push argument 2
push constant 5
add
push argument 1
push argument 3
add
push constant 5
sub
push argument 2
push argument 3
add
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.drawDot 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 5
add
push argument 2
push constant 5
add
push argument 1
push argument 3
add
push constant 5
sub
push argument 2
push argument 3
add
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 3
push constant 2
call Math.divide 2
add
push argument 2
push argument 3
push constant 2
call Math.divide 2
add
push argument 3
push constant 10
sub
push constant 2
call Math.divide 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Board.drawPlus 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 5
add
push argument 2
push constant 5
add
push argument 1
push argument 3
add
push constant 5
sub
push argument 2
push argument 3
add
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 5
add
push argument 2
push constant 12
add
push argument 1
push argument 3
add
push constant 5
sub
push argument 2
push argument 3
add
push constant 12
sub
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 12
add
push argument 2
push constant 5
add
push argument 1
push argument 3
add
push constant 12
sub
push argument 2
push argument 3
add
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.drawClover 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 5
add
push argument 2
push constant 5
add
push argument 1
push argument 3
add
push constant 5
sub
push argument 2
push argument 3
add
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 11
add
push argument 2
push constant 11
add
push argument 3
push constant 20
sub
push constant 2
call Math.divide 2
call Screen.drawCircle 3
pop temp 0
push argument 1
push constant 11
add
push argument 2
push constant 19
add
push argument 3
push constant 20
sub
push constant 2
call Math.divide 2
call Screen.drawCircle 3
pop temp 0
push argument 1
push constant 19
add
push argument 2
push constant 11
add
push argument 3
push constant 20
sub
push constant 2
call Math.divide 2
call Screen.drawCircle 3
pop temp 0
push argument 1
push constant 19
add
push argument 2
push constant 19
add
push argument 3
push constant 20
sub
push constant 2
call Math.divide 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
